* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

@import "./components/_MovieCard.scss";
@import "./components/_Search.scss";
@import "./components/_buttons.scss";

.movielist-container {
  background: #111827;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .movielist-container {
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
}
